html,body {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
body {
    background-color: #263648;
}
a {
    color: white;
}
/*sidebar*/
.wrapper {
    margin: 2rem;
}
.side-bar {
    height: fit-content;
    margin: 0 1rem 1rem 0rem;
    background-color: #263648;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 4px 2px -2px #3a4f60,
    inset 0 4px 2px -2px rgba(0, 0, 0, 0.3),
    0 6px 10px 0px rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.button .icon {
    color: #263648;
}
.nav .icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    color: white;
    text-align: center;
}
.side-bar .card {
    margin-bottom: 10%;
    background: linear-gradient(rgba(131, 177, 197, 0.4), rgba(38, 54, 72, 0.71));
}
.nav .homeI {
    background-color: #3a4f60;
}
.nav .aboutI {
    background-color: #6c587b;
}
.nav .portfolioI {
    background-color: #c06c84;
}
.nav .resumeI {
    background-color: #f67280;
}
.nav .contactI {
    background-color: #f8b195;
}
.nav a:hover {
    color: white;
}
.nav .homeNav:hover, .homeNav .is-active{
    background-color: rgb(58, 79, 96);
    color: white;
}
.nav .aboutNav:hover, .aboutNav .is-active{
    background-color: rgb(108, 88, 123);
    color: white;
}
.nav .portfolioNav:hover, .portfolioNav .is-active{
    background-color: rgb(192, 108, 132);
    color: white;
}
.nav .resumeNav:hover, .resumeNav .is-active{
    background-color: rgb(246, 114, 128);
    color: white;
}
.nav .contactNav:hover, .contactNav .is-active{
    background-color: #f8b195;
    color: white;
}
.nav p {
    padding-bottom: 8px;
    padding-top: 6px;
}
.main-section {
    background: linear-gradient(rgba(66, 84, 102, 0.4), rgba(61, 98, 118, 0.3));
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.title {
    padding-top: 1rem;
}
.aside {
    background-color: rgba(66, 84, 102, 0.4);
}
.inner-main h1 {
    color: rgb(144, 144, 144);
}
.main-section p {
    font-size: 15px;
    margin-bottom: 1rem;
}
.aside {
    padding: 1rem;
}
.aside .card, .main-section .card {
    padding: 1rem;
    margin-bottom: 2rem;
    background: #F5F5F5;
    box-shadow: inset 0 4px 2px -2px #3a4f60,
    inset 0 4px 2px -2px rgba(0, 0, 0, 0.3),
    0 6px 10px 0px rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.aside .card p , .main-section .card p{
    font-size: 12px;
    margin-bottom: 0.3rem;
}
form {
    padding-bottom: 2rem;
}
