html,
body {
    margin: 0;
    height: 100vh;
    background-color: transparent;
}
#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.panel {
    height: 100%;
    width: 100%;
    position: absolute;
}
.first , .second, .third{
    background-color: #afaeaf;
    background-image: linear-gradient(rgba(185, 165, 147, 0.17), rgba(52, 26, 18, 0.45)), url("https://nov17vas.files.wordpress.com/2012/04/the-best-top-desktop-brown-wallpapers-hd-brown-wallpaper-141.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Unica One', cursive;
    box-shadow: inset 0 0 400px #231111;
    border-left: 4px double #231111;
    border-right: 4px double #231110;
}
.first .secondRow {
    color: #1d0e0e;
}
.first .borderMiddle {
    border-left: thin solid brown;
}
.first h1 {
    font-weight: bold;
    text-shadow: 2px 2px 1px #1a0d0d, 1px 1px 2px brown;
    color: #341a12;
}
.first ul {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    margin:0;
    padding:0;
    display:flex;
}

.first ul li {
    list-style: none;
}

.first ul li a {
    position: relative;
    width:30px;
    height:30px;
    display:block;
    text-align:center;
    margin:0 5px;
    border-radius: 50%;
    padding: 0px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 8px 10px rgba(0,0,0,0.3);
    background: linear-gradient(5deg, #341a12, #341a12);
    transition: .5s;
}

.first ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}

.first ul li a .fa {
    width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(50deg,  #341a12, #917d6d);
    border-radius: 50%;
    line-height: calc(45px - 16px);
    font-size:16px;
    color: #281412;
    transition: .5s;
}
.second h4,.second h5{
    color: white;
}
.second .iphone .iphone-frame {
    height: 80%;
}

#animate {
    height: 10%;
}
#animate .iphone-frame {
    height: 42em;
}
#animate .iphone-content{
    /*position: absolute;*/
    top: 12px;
    left: -300px;
    width: 16.6em;
    height: 31em;
}
#animate .layer3 {
    opacity: 0;
    top: -1px;
    left: -248px;
    width: 17em;
    height: 29.8em;
}
.landscape {
    position: relative;
    bottom: 430px;
}
.third {
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    display: none;
}
.fourth {
    background-color: #e1e0c0;
}